source "drivers/soc/oplus/thermal/Kconfig"
source "drivers/soc/oplus/boot/Kconfig"
source "drivers/soc/oplus/device_info/Kconfig"
source "drivers/soc/oplus/dfr/Kconfig"
source "drivers/soc/oplus/mdmrst/Kconfig"
source "drivers/soc/oplus/dft/Kconfig"
source "drivers/soc/oplus/drivers/Kconfig"
source "drivers/soc/oplus/oplus_sensor_feedback/Kconfig"
